body{
    background: #23272e;
}

#boton{
    background: #f0b90b;
    color:#000000 ;
}
#boton:hover {
    color: #f0b90b;
    background:#23272e ;
  }

.gradient-brand-color {
    background-image: -webkit-linear-gradient(0deg, #376be6 0%, #6470ef 100%);
    background-image: -ms-linear-gradient(0deg, #376be6 0%, #6470ef 100%);
    color: #fff;
}
.contact-info__wrapper {
    overflow: hidden;
    border-radius: .625rem .625rem 0 0
}

.row{
    color: #ffffff;
}
@media (min-width: 1024px) {
    .contact-info__wrapper {
        border-radius: 0 .625rem .625rem 0;
        padding: 5rem !important
    }
}
.contact-info__list span.position-absolute {
    left: 0
}
.z-index-101 {
    z-index: 101;
}
.list-style--none {
    list-style: none;
}
.contact__wrapper {
    background-color: #212121;
    border-radius: 0 0 .625rem .625rem
}

@media (min-width: 1024px) {
    .contact__wrapper {
        border-radius: .625rem 0 .625rem .625rem
    }
}
@media (min-width: 1024px) {
    .contact-form__wrapper {
        padding: 5rem !important
    }
}
.shadow-lg, .shadow-lg--on-hover:hover {
    box-shadow: 0 10rem 20rem rgba(255, 255, 255, 0.1) !important;
}

.container {
    display: flex;
    justify-content: flex-end;
    margin-left: 30;
    margin-top: 30px;
  }
  
  .ayuda {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 60px;
    border: none;
    border-radius: 50%;
    background-color: #f0b90b;
    color: white;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s;
    text-decoration: none;
  }
  
  .ayuda::before {
    content: "";
    position: absolute;
    width: 24px;
    height: 24px;
    background-image: url('/Img/chat.png');
    background-size: cover;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
 

  #pregunta{
    color: white;
    margin-right: 10px;
  }